
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <title>Square and Circle</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

<!-- Top Navbar -->
<nav id="topnav">
    <div id="logo">
        <a href="/"><img src="../../images/final_logo_greyscale.png" alt="Square & Circle Graphic Design Logo"></a>
    </div>
    <!-- Responsive toggleable three line menu -->
    <input type="checkbox" id="nav-toggle">
    <label for="nav-toggle" class="hamburger-menu">
        <div class="menu-lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </label>

    <div id="links">
        <a id="graphic-design" href="../../graphic-design">Graphic Design</a>
        <a id="photography" href="../../photography">Photography</a>
        <a id="art" href="../../art">Art</a>
        <a class="leftlinks-responsive" href="../../about">Contact</a>
        <a class="leftlinks-responsive" href="../../concept">Concept</a>
    </div>

</nav>
