<nav id="socialnav">
    <div id="sociallinks">
        <a href="mailto: hello@squareandcircle.lt"><span class="navHighlight">hello@squareandcircle.lt</span></a>
        <a href="https://www.behance.net/Gabriele_Ving"><span class="navHighlight">behance</span></a>
        <a href="https://www.instagram.com/square_and_circle_ideas/"><span class="navHighlight">instagram</span></a>
    </div>
</nav>


<!-- <nav id="bottomnav">
    <div id="bottomlink">
        <a href="mailto: hello@squareandcircle.lt">hello@squareandcircle.lt</a>
        <a href="about">
            <span id="landingname">Gabrielė Vingraitė </span> –
        </a>
        <a href="about">
            <span id="landingemail">hello@squareandcircle.lt</span>
        </a>
    </div>
</nav> -->