<nav id="socialnav">
    <div id="sociallinks">
        <a href="mailto: hello@squareandcircle.lt">hello@squareandcircle.lt</a>
        <a href="https://www.behance.net/Gabriele_Ving">behance</a>
        <a href="https://www.instagram.com/square_and_circle_ideas/">instagram</a>
    </div>
</nav>


<!-- <nav id="bottomnav">
    <div id="bottomlink">
        <a href="mailto: hello@squareandcircle.lt">hello@squareandcircle.lt</a>
        <a href="about">
            <span id="landingname">Gabrielė Vingraitė </span> –
        </a>
        <a href="about">
            <span id="landingemail">hello@squareandcircle.lt</span>
        </a>
    </div>
</nav> -->