<nav id="socialnav">
    <div id="sociallinks">
        <a href="https://www.behance.net/Gabriele_Ving">behance</a>
        <a href="https://www.instagram.com/square_and_circle_ideas/">instagram</a>
    </div>
</nav>