<% include ./partials/header %>

<!-- Left Navbar -->
<nav id="leftnav">
    <div id="leftlinks">
        <a id="about" href="about">About</a>
        <a id="concept" href="concept">Concept</a>
    </div>
</nav>

<% include ./partials/socialnav %>

<main class="aboutpage">
    <h1>About</h1>
    <section>
        <p>
            As for a person, my philosophy of life is based on the work i love, travel and honest people
            surrounding me. This inspires me to create visual stories and share it with others. If you are
            interested in working together, having a cup of coffee or just would like to get to know me -reach
            out to me by leaving a message:
            <p id="email" class="colored-underline bold highlight">
                <span>gabrielevingraite@gmail.com</span>
            </p>
        </p>
    </section>

    <h1>Education</h1>
    <section>
            <div class="row">
                <div class="col">
                    10. 2014 – 07. 2017
                </div>
                <div class="col-2">
                    <p class="colored-underline bold highlight">
                        <span>Master’s degree</span>
                    </p>
                    Vilnius Academy of Arts (Graphic department)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    10. 2010 – 07. 2014
                </div>
                <div class="col-2">
                    <p class="colored-underline bold highlight">
                        <span>Bachelor’s degree</span>
                    </p>
                    Vilnius Academy of Arts (Graphic Design department)
                </div>
            </div>
    </section>

    <h1>Work Experience</h1>
    <section>
            <div class="row">
                <div class="col">
                    12. 2018
                </div>
                <div class="col-2">
                    <p class="colored-underline bold highlight">
                        <span>
                            Marc Doffey Jazz Orchestra
                            Poster for the concert
                        </span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    08. 2018 – 11. 2018
                </div>
                <div class="col-2">
                    <p class="colored-underline bold highlight">
                        <span>
                            Litauisches Kino Goes Berlin
                            Identity for the film festival
                        </span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    01. 2018 – 04. 2018
                </div>
                <div class="col-2">
                    <p class="colored-underline bold highlight">
                        <span>Studio SÜD—Visuelle Kommunikation</span>
                    </p>
                    Projects included:
                    <p class="bold">
                        Studio SÜD—Visuelle Kommunikation
                    </p>
                    Calendar 2018 / Concept, illustration
                    <p class="bold">
                        Optik Kastelberger
                    </p>
                    On the way to Utopia / Concept
                    <p class="bold">
                        Ingenieurbüro Christian Hauß
                    </p>
                    Corporate Design / Concept
                    <p class="bold">
                        Luxorette Haustextilien GmbH
                    </p>
                    Corporate Design / Concept
                </div>
            </div>

            <div class="row">
                <div class="col">
                    11. 2015 – 10. 2016
                </div>
                <div class="col-2">
                    <p class="colored-underline bold highlight">
                        <span>Jäger & Jäger</span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    07. 2015 – 10. 2015
                </div>
                <div class="col-2">
                    <p class="colored-underline bold highlight">
                        <span>Jäger & Jäger / Intern</span>
                    </p>
                    Projects included:
                    <p class="bold">
                        Nils Holger Moormann GmbH
                    </p>
                    “Fragen Sie nicht, was Ihr Möbel für Sie tun kann”
                    Brochure / Concept, text, illustration
                    <a class="example-links" href="https://issuu.com/nils-holger-moormann/docs/moormann_brosch__re_vol.11/1?
                    e=5578441/39105130">View the work >></a>
                    <p class="bold">
                        Arjowiggins Creative Papers
                    </p>
                    Bookmarks for Arjowiggins / Concept, illustration
                    <a class="example-links" href="https://www.designmadeingermany.de/2016/119524/">View the work >></a>
                    <p class="bold">
                        Weingüter KRESS
                    </p>
                    Wine labels campaign / Illustration (houses)
                    <a class="example-links" href="http://www.weingut-kress.de/details-%C3%BCberlinger-cuv%C3%A9e-blanc.html">View the work >></a>
                    <p class="bold">
                        Ensemble Modern
                    </p>
                    CD cover / Concept, illustration
                    <a class="example-links" href="https://www.ensemble-modern.com/en/shop/cds/ingo-schulze-die-abflussrohre-spuckten-ihre-
                    eisbloecke-wie-abgelutschte-bonbons-auf-den-gehsteig/130#d-130">View the work >></a>
                    <p class="bold">
                        Ensemble Modern
                    </p>
                    Heimspiele / Concert posters / Concept
                    <a class="example-links" href="https://www.ensemble-modern.com/de/projekte/archiv/heimspiele-2016">View the work >></a>
                    <p class="bold">
                        ASI Reisen GmbH
                    </p>
                    ASI Rasen traveling magazine / Illustration
                    <a class="example-links" href="http://www.jaegerundjaeger.de/projekte/asi-reisen/#/6">View the work >></a>
                    <p class="bold">
                        HWP Planungsgesellschaft GmbH
                    </p>
                    Conceptual book for the clients / Concept, text, illustration
                    <p><br></p>
                    <p class="bold">
                        HOERBIGER Holding AG
                    </p>
                    HOERBIGER Illustrated Books / Building illustrations
                    <a class="example-links" href="https://www.red-dot.org/project/hoerbiger-illustrated-books-14634/">View the work >></a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    06. 2013 – 10. 2013
                </div>
                <div class="col-2">
                    <p class="colored-underline bold highlight">
                        <span>Fremdkörper design / Intern</span>
                    </p>
                    Projects included:
                    <p class="bold">
                        Fremdkoerper Design
                    </p>
                    Corporate Design for an architect
                </div>
            </div>
    </section>

    <h1>Exhibitions</h1>
    <section>
        <div class="row">
            <div class="col">
                2019
            </div>
            <div class="col-2">
                <p class="bold">
                    Participating in exhibition "Castor & Pollux”.
                </p>
                Galley Trofejas, Berlin, Germany.
                <p class="bold">
                    Personal exhibition "Trajectories"
                </p>
                Gallery Kairė - dešinė, Vilnius, Lithuania
            </div>
        </div>
        <div class="row">
            <div class="col">
                2018
            </div>
            <div class="col-2">
                <p class="bold">Exhibition-competition Young Painter Prize (X)</p>
                Tsekh gallery, Vilnius, Lithuania
                <p class="bold">Photography exhibition-competition "DEBUT 2018"</p>
                Prospect gallery, Vilnius, Lithuania
            </div>
        </div>
        <div class="row">
            <div class="col">
                2017
            </div>
            <div class="col-2">
                <p class="bold">Personal exposition "Walking in Heterotopia"</p>
                Užupis Art Incubator, gallery Kalnas, Vilnius, Lithuania
                <p class="bold">Participating in Leipzig Book Fair</p>
                Vilnius Academy of Arts stand, project "ė"
            </div>
        </div>
        <div class="row">
            <div class="col">
                2015
            </div>
            <div class="col-2">
                <p class="bold">Exhibition "Situations"</p>
                Latvijas Mākslas akadēmija, Riga
                <p class="bold">7th International Artist’s Book Triennial "ERROR"</p>
                Titanikas gallery, Vilnius, Lithuania
                <p class="bold">"A Space Odyssey 2.0". Students exhibition</p>
                Titanikas gallery, Vilnius, Lithuania
                <p class="bold">"LOST AND FOUND". Students exhibition</p>
                American University Museum, Katzen Arts Center, Washington, JAV
                <p class="bold">Personal exposition "420"</p>
                5 mills gallery, Vilnius, Lithuania
                <p class="bold">Participation at 10th Design Week</p>
                Exhibition at Vilnius Central Post Office, Lithuania
            </div>
        </div>
        <div class="row">
            <div class="col">
                2014
            </div>
            <div class="col-2">
                <p class="bold">“A Space Odyssey". Students exhibition</p>
                Exposition in VIlnius planetarium, Vilnius, Lithuania
                <p class="bold">Typography exhibition "Years"</p>
                Unesco gallery, Vilnius, Lithuania
                <p class="bold">Participation at 9th Design Week</p>
                Painting exhibition at Contemporary Art Centre Cafe, Vilnius, Lithuania
                <p class="bold">Personal photography exhibition "Silent Music"</p>
                Vilnius Academy of Arts, Vilnius, Lithuania
                <p class="bold">Photography exhibition "Silent Music"</p>
                LOFTAS festival, Vilnius, Lithuania
                <p class="bold">A. Švėgžda final exhibition - competition</p>
                Vilnius Academy of Arts, Vilnius, Lithuania
                <p class="bold">"A book well designed - let’s start with children"</p>
                Illustrations contest, Kraków, Poland
            </div>
        </div>
    </section>

    <h1>Contacts</h1>
    <section>
        <div class="row">
            <div class="col bold colored-underline">
                Gabrielė Vingraitė
                <p class="highlight">
                    <span>+370 652 48537</span>
                </p>
                <p class="highlight">
                    <span>hello@squareandcircle.lt</span>
                </p>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row black-link">
            <div class="col">
                <p class="bold underline">
                    <a href="https://www.behance.net/Gabriele_Ving"><span>behance</span></a>
                </p>
                <p class="bold underline">
                    <a href="https://www.instagram.com/square_and_circle_ideas/"><span>instagram</span></a>
                </p>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col">
                <p class="bold underline"><span>Copyright:</span></p>
                Gabrielė Vingraitė. All rights reserved.
            </div>
            <div class="col-2"></div>
        </div>
    </section>
</main>

<script type="text/javascript" src="/scripts/activePage.js"></script>

<% include ./partials/footer %>