<% include ./partials/header %>

<!-- Left Navbar -->
<nav id="leftnav">
    <div id="leftlinks">
        <a id="about" href="about">About</a>
        <a id="concept" href="concept">Concept</a>
    </div>
</nav>

<% include ./partials/socialnav %>

<section class="conceptpage">
        <h1>Concept</h1>
        <article>
            <p>
                Circle - a form without beginning or end, which is also a symbol of infinity of possible ideas.
                The opposite symbol of the circle is a square - strict edgy form, which is also an element
                of design grids. In conjunction these two forms identify my work concept - it is combining
                methods of art and design.
            </p>
            <br>
            <p>
                I have been interested in this relation already since the beginning of my studies: I have obtained
                Bachelor’s degree in Design and Master’s degree in Art. For me both of those topics never
                worked as separate fields - I think that art and design supplement each other and give
                interesting results at the end. From my perspective, I always viewed art and design in conjunction
                as they complement each other forming a more captivating result.
            </p>
            <br>
            <p>
                In regards to design, I am a detail oriented person and like to combine those detail
                experiments taken from art. Intuition gives me a lot of freedom and expressiveness, while
                design helps to make the idea readable. As an artist, my creativity consists of conception,
                illustration, creative writing, photography, and design. This way of work makes me stay open,
                search wider and consider different points of views for my projects.
            </p>
    </article>

</section>

<script type="text/javascript" src="/scripts/activePage.js"></script>

<% include ./partials/footer %>