<% include ./partials/header %>

<!-- Top Navbar -->
<nav id="topnav">
    <div id="logo">
        <a href="/"><img src="../images/final_logo_greyscale.png" alt="Square & Circle logo"></a>
    </div>
    <div id="links">
        <a href="graphic-design">Graphic Design</a>
        <a href="photography">Photography</a>
        <a href="art">Art</a>
    </div>
</nav>

<div class="layout">
    <!-- Left Navbar -->
    <nav id="leftnav">
        <div id="leftlinks">
            <a href="about">About</a>
            <a href="concept">Concept</a>
        </div>
    </nav>

    <!-- Page Content  -->
    <section>
        <div>
            <img id="bigLogo" src="../images/final_logo.png" alt="Square & Circle logo image">
        </div>
    </section>
</div>

<% include ./partials/footer %>