<% include ./partials/header %>

<div class="layout">
    <!-- Left Navbar -->
    <nav id="leftnav">
        <div id="leftlinks">
            <a href="about">About</a>
            <a href="concept">Concept</a>
        </div>
    </nav>

    <!-- Page Content  -->
    <section>
        <div>
            <img id="bigLogo" src="../images/final_logo.png" alt="Square & Circle logo image">
        </div>
    </section>

    <!-- Bottom Navbar -->
    <nav id="bottomnav">
        <div id="bottomlink">
            <a href="about">
                <span id="landingname">Gabrielė Vingraitė </span> – 
            </a>
            <a href="about">
                <span id="landingemail">hello@squareandcircle.lt</span>
            </a>
        </div>
    </nav>

    <!-- Right Navbar -->
    <nav id="rightnav">
        <div id="rightlinks">
            <a href="">linkedin</a>
            <a href="https://www.behance.net/Gabriele_Ving">behance</a>
            <a href="https://www.instagram.com/square_and_circle_ideas/">instagram</a>
        </div>
    </nav>

</div>

<% include ./partials/footer %>