<% include ./partials/header %>

<div class="layout">
    <!-- Left Navbar -->
    <nav id="leftnav">
        <div id="leftlinks">
            <a href="about">About</a>
            <a href="concept">Concept</a>
        </div>
    </nav>

    <!-- Page Content  -->
    <section id="split-screen">
        <article id="home-section">
            <div>
                <img id="bigLogo" src="../images/final_logo.png" alt="Square & Circle Graphic Design Logo Image">
            </div>
        </article>
    
        <article id="example-projects">
            <div class="box1">
                <img src="../images/homegrid1.jpg" alt="Example Project">
            </div>
            <div class="box2">
                <img src="../images/homegrid2.jpg" alt="Example Project">
            </div>
            <div class="box2">
                <img src="../images/homegrid1.jpg" alt="Example Project">
            </div>
            <div class="box3">
                <img src="../images/homegrid2.jpg" alt="Example Project">
            </div>
        </article>
    </section>

    <% include ./partials/socialnav %>

    <!-- Bottom Navbar Homepage Only-->
    <nav id="bottomnavHomeResponsive">
        <div id="bottomlink">
            <a href="about">
                <span id="landingname">Gabrielė Vingraitė </span> – 
            </a>
            <a href="about">
                <span id="landingemail">hello@squareandcircle.lt</span>
            </a>
        </div>
    </nav>

    <!-- Right Navbar Homepage Only-->

    <nav id="socialnavHomeResponsive">
        <div id="sociallinks">
            <a href="https://www.behance.net/Gabriele_Ving">behance</a>
            <a href="https://www.instagram.com/square_and_circle_ideas/">instagram</a>
        </div>
    </nav>
</div>

<% include ./partials/footer %>