<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Square and Circle</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

    <!-- Top Navbar -->
    <nav id="topnav">
        <div id="logo">
            <a href="/"><img src="../../images/final_logo_greyscale.png" alt="Square & Circle Graphic Design Logo"></a>
        </div>
        <!-- Responsive toggleable three line menu -->
        <input type="checkbox" id="nav-toggle">
        <label for="nav-toggle" class="hamburger-menu">
            <div class="menu-lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </label>

        <div id="links">
            <a class="moveFromTop1" id="graphic-design" href="../../graphic-design">Graphic Design</a>
            <a class="moveFromTop2" id="photography" href="../../photography">Photography</a>
            <a class="moveFromTop3" id="art" href="../../art">Art</a>
            <a class="leftlinks-responsive" href="../../about">Contact</a>
            <a class="leftlinks-responsive" href="../../concept">Concept</a>
        </div>

    </nav>


<div class="layout">
    <!-- Page Content  -->
    <section id="home-section">
        <div class="pulse">
            <img id="bigLogo" src="../images/final_logo.png" alt="Square & Circle Graphic Design Logo Image">
        </div>
    </section>
    
    <article id="example-projects">
        <a class="box">
            <img src="../images/homegrid1.jpg" alt="Example Project">
        </a>
        <a class="box">
            <img src="../images/homegrid2.jpg" alt="Example Project">
        </a>
        <a class="box">
            <img src="../images/homegrid1.jpg" alt="Example Project">
        </a>
        <a class="box">
            <img src="../images/homegrid2.jpg" alt="Example Project">
        </a>
        <a class="box">
            <img src="../images/homegrid2.jpg" alt="Example Project">
        </a>
        <a class="box">
            <img src="../images/homegrid1.jpg" alt="Example Project">
        </a>
    </article>

    <!-- Left Navbar -->
    <nav id="leftnav">
        <div id="leftlinks">
            <a class="moveFromLeft1" href="about">About</a>
            <a class="moveFromLeft2" href="concept">Concept</a>
        </div>
    </nav>

    <!-- RIGHT NAV -->
    <nav id="socialnav">
        <div id="sociallinks">
            <a class="moveFromRight1" href="https://www.behance.net/Gabriele_Ving">behance</a>
            <a class="moveFromRight2" href="https://www.instagram.com/square_and_circle_ideas/">instagram</a>
        </div>
    </nav>

    <!-- Bottom Navbar Mobile Homepage Only-->
    <nav id="bottomnavHomeResponsive">
        <div class="moveFromBottom" id="bottomlink">
            <a href="about">
                <span id="landingname">Gabrielė Vingraitė </span> – 
            </a>
            <a href="about">
                <span id="landingemail">hello@squareandcircle.lt</span>
            </a>
        </div>
    </nav>

    <!-- Right Navbar Mobile Homepage Only-->

    <nav id="socialnavHomeResponsive">
        <div id="sociallinks">
            <a class="moveFromRight1" href="https://www.behance.net/Gabriele_Ving">behance</a>
            <a class="moveFromRight2" href="https://www.instagram.com/square_and_circle_ideas/">instagram</a>
        </div>
    </nav>
</div>

<script type="text/javascript">
    const bigLogo = document.querySelector("#bigLogo");
    const homeSection = document.querySelector("#home-section");
    const exampleProjects = document.querySelector("#example-projects");
    window.addEventListener('wheel', ()=>{
        bigLogo.classList.add('fadeOut');
        setTimeout(function(){ homeSection.remove() }, 300)
        setTimeout(function(){
            exampleProjects.style.display = 'grid';
            exampleProjects.classList.add('fadeIn');
        }, 310)
    });
</script>

<% include ./partials/footer %>