<% include ./partials/header %>

<div class="container">
    <!-- Left Navbar -->
    <nav id="leftnav">
        <div id="leftlinks">
            <a href="about">Contact</a>
            <a href="concept">Concept</a>
        </div>
    </nav>

    <% projects.forEach(function(project){ %>
        <h3><%= project.title %></h3>
        <h6><%= project.shortDesc %></h6>
    <% }); %>
</div>





<% include ./partials/footer %>