/* Accent color #E66558  */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap');

body {
	background: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 1rem;
	letter-spacing: 0.01rem;
	margin-bottom: 0px;
	margin-top: 0px;
}

.layout {
	display: flex;
	width: 100%;
	height: 84vh;
}
@media (max-width: 560px) {
	.layout {
		display: flex;
		flex-direction: column;
	}
}

/* TOP Navbar */
#topnav {
	display: grid;
	position: sticky;
	top: 0;
	padding-top: 7px;
	background-color: white;
	z-index: 60;
	min-height: 80px;
	grid-template-columns: 1.5fr 6.5fr 4fr;
	grid-template-rows: auto;
}
@media (max-width: 991px) {
	#topnav {
		grid-template-columns: 1fr 7fr 1fr;
	}
}
@media (max-width: 560px) {
	#topnav {
		grid-template-columns: 1fr 5fr 1fr;
	}
}

#logo img {
	width: 70px;
	padding-top: 0.5rem;
	padding-right: 0.8rem;
	padding-bottom: 0.1rem;
	padding-left: 0.8rem;
	margin-left: 0.3rem;
}
@media (max-width: 767px) {
	#logo img {
		width: 65px;
		padding: 0.7rem 0.5rem 0.6rem 0.5rem;
		margin-left: 0rem;
	}
}

#links {
	display: grid;
	grid-template-columns: 3;
	grid-template-rows: auto;
	justify-content: start;
	align-content: center;
	grid-gap: 3.6rem;
	padding-left: 2rem;
}

@media (max-width: 767px) {
	#links {
		grid-gap: 1.7rem;
		padding-left: 0.8rem;
	}
}

#links a {
	position: relative;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 0.5rem;
}

#links a:hover {
	color: #e66558;
	transition: color 200ms;
}

#links a:active {
	color: #e66558;
}

/* underline properties */
#links a::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	bottom: 0.49rem;
	background-color: black;
}

#links a:hover::after {
	background-color: #e66558;
	transition: background-color 200ms;
}

#links a:nth-child(1) {
	grid-column: 1 / 2;
}

#links a:nth-child(2) {
	grid-column: 2 / 3;
}

#links a:nth-child(3) {
	grid-column: 3 / 4;
}

#nav-toggle,
.hamburger-menu,
.leftlinks-responsive {
	display: none;
}
@media (max-width: 560px) {
	#links {
		display: none;
		margin-top: 1.5rem;
	}
	#links a {
		margin-bottom: 1rem;
	}
	.hamburger-menu {
		display: flex;
		grid-column: 3;
		justify-content: start;
		align-items: center;
		cursor: pointer;
	}
	.menu-lines {
		position: relative;
		cursor: pointer;
	}
	.line {
		width: 30px;
		height: 3px;
		background: black;
		margin: 5px;
		transition: 200ms all ease-in-out;
	}
	#nav-toggle:checked ~ #links {
		grid-row: 1 / 3;
		grid-column: 2;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		justify-content: space-around;
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: auto;
		animation: wipein 900ms ease-in;
	}
	#nav-toggle:checked ~ .hamburger-menu .line:nth-child(2) {
		transform: translateX(-10px);
		transition: 200ms all ease-in-out;
		margin: 0;
	}
	#nav-toggle:checked ~ .hamburger-menu .line:nth-child(1),
	#nav-toggle:checked ~ .hamburger-menu .line:nth-child(3) {
		transform: translateX(-10px);
		transition: 200ms all ease-in-out 150ms;
		margin: 0;
	}
	.leftlinks-responsive {
		display: flex;
	}
	@keyframes wipein {
		from {
			opacity: 0;
			max-height: 0;
		}
		to {
			opacity: 1;
			max-height: 100vh;
		}
	}
}
#links .activePage {
	color: #e66558;
}
#links .activePage::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	bottom: 0.49rem;
	background-color: #e66558;
}

/* LEFT Navbar */
#leftnav {
	display: inline-block;
	position: fixed;
	top: 15vh;
	max-width: 100px;
	padding-left: 1.8rem;
	padding-top: 1.4rem;
	margin: 0rem;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}
@media (max-width: 767px) {
	#leftnav {
		padding-left: 1rem;
		padding-top: 0.6rem;
	}
}
@media (max-width: 560px) {
	#leftnav {
		display: none;
	}
}

#leftlinks {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 2fr 2fr;
	grid-gap: 2.0rem;
	justify-content: center;
	align-items: center;
}

#leftlinks a {
	writing-mode: vertical-lr;
	transform: scale(-1, -1);
	position: relative;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}

#leftlinks a:hover {
	color: #e66558;
	transition: color 200ms;
}

#leftlinks a:active {
	color: #e66558;
}

/* underline properties */
#leftlinks a::after {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	width: 3px;
	left: -1px;
	background-color: black;
}

#leftlinks a:hover::after {
	background-color: #e66558;
	transition: background-color 200ms;
}

#leftlinks a:nth-child(1) {
	grid-row: 1 / 2;
}

#leftlinks a:nth-child(2) {
	grid-row: 2 / 3;
}

#leftlinks .activePage {
	color: #e66558;
}
#leftlinks .activePage::after {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	width: 3px;
	left: -1px;
	background-color: #e66558;
}

/* HOMEPAGE */

#example-projects {
	display: none;
	opacity: 0;
}

.homeProject {
	width: 13vw;
	text-align: start;
	position: fixed;
}

.homeProject a img {
	width: 100%;
	object-fit: cover;
}

@media (max-width: 560px) {
	#example-projects {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 60vh;
	}
	.homeProject {
		width: 35vw;
		position: static;
	}
	.homeProject a img {
		width: 76%;
	}
}

/* Individual project id's for homepage - use to fix position */

#hp-0 {
	top: 17vh;
	left: 31vw;
}
#hp-1 {
	top: 20vh;
	left: 77vw;
}
#hp-2 {
	top: 44vh;
	left: 52vw;
}
#hp-3 {
	top: 50vh;
	left: 10vw;
}
@media (max-width: 767px) {
	#hp-0 {
		top: 27vh;
		left: 20vw;
	}
	#hp-3 {
		top: 68vh;
		left: 12vw;
	}
}
@media (max-width: 560px) {
	#hp-0 {
		align-self: flex-start;
		margin-top: 2rem;
		margin-left: 2rem;
	}
	#hp-1 {
		align-self: flex-end;
	}
	#hp-2 {
		align-self: center;
	}
	#hp-3 {
		display: none;
	}
}

.homeProject h4,
.homeProject h6,
.homeProject p {
	margin: 0;
	padding: 0;
}
@media (max-width: 767px) {
	.homeProject h4,
	.homeProject h6,
	.homeProject p {
		text-align: start;
	}
}
/* Random projects on homepage title and underline */
.homeProject h4 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 0.88rem;
	text-decoration: none;
	padding-bottom: 0.2rem;
}
@media (max-width: 560px) {
	.homeProject h4 {
		font-size: 0.8rem;
	}
}

.homeProject h4 span {
	position: relative;
	padding-bottom: 1px;
	background-image: linear-gradient(
		to bottom,
		black 33%,
		rgba(0, 0, 0, 0) 33%,
		rgba(0, 0, 0, 0) 66%,
		black 66%,
		black
	);
	background-position: 0 1.03em;
	background-repeat: repeat-x;
	background-size: 6px 8px;
	-webkit-background-size: 6px 8px;
}

.homeProject:hover h4 span {
	color: #e66558;
	transition: color .1s;
	background-image: linear-gradient(
		to bottom,
		#e66558 33%,
		rgba(255, 255, 255, 0) 33%,
		rgba(255, 255, 255, 0) 66%,
		#e66558 66%,
		#e66558
	);
	background-size: 6px 8px;
}

.homeProject:active a h4 {
	color: #e66558;
}
.homeProject:active span {
	background-image: linear-gradient(
		to bottom,
		#e66558 33%,
		rgba(255, 255, 255, 0) 33%,
		rgba(255, 255, 255, 0) 66%,
		#e66558 66%,
		#e66558
	);
}

.homeProject h6 {
	color: black;
	font-weight: 400;
	font-size: 0.9rem;
}

/* Bottom Navbar - email/contact info */
#bottomnav {
	display: inline-block;
	position: fixed;
	right: 6vw;
	top: 93.2vh;
	padding: 0.6rem;
	z-index: 2;
	border-radius: 12px 12px 0px 0px;
}
@media (max-width: 767px) {
	#bottomnav {
		display: none;
	}
}

#bottomnavHomeResponsive {
	display: inline-block;
	position: fixed;
	right: 6vw;
	top: 93.2vh;
	padding: 0.6rem;
	z-index: 2;
}
@media (max-width: 560px) {
	#bottomnavHomeResponsive {
		display: inline-block;
		position: static;
		padding: 2rem 0 2rem 0;
		text-align: center;
		font-size: 0.95rem;
	}
}

#bottomlink a {
	text-decoration: none;
	color: black;
	text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
	font-weight: 400;
}

#landingname {
	display: none;
}

@media (max-width: 560px) {
	#landingname {
		display: inline-block;
	}
	#bottomlink a {
		position: relative;
		text-shadow: none;
		font-weight: 900;
	}
	#bottomlink #landingname::after {
		content: "";
		position: absolute;
		display: block;
		width: 90%;
		height: 3px;
		bottom: 0px;
		left: 0px;
		background-color: black;
	}
	#bottomlink a #landingname:hover {
		color: #e66558;
		transition: color 200ms;
	}
	#bottomlink #landingname:hover::after {
		background-color: #e66558;
		transition: background-color 200ms;
	}
	#bottomlink #landingemail {
		color: #e66558;
	}
	#bottomlink a #landingemail::after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 3px;
		left: 0px;
		bottom: 0px;
		background-color: #e66558;
	}
}

#bottomlink a:hover {
	color: #e66558;
	transition: color 200ms;
}

/* Right Navbar - Social Links all pages*/
#socialnav {
	display: inline-block;
	position: fixed;
	right: 2vw;
	bottom: 8vh;
}
@media (max-width: 767px) {
	#socialnav {
		display: none;
	}
}
#socialnavHome {
	display: inline-block;
	position: fixed;
	right: 2vw;
	bottom: 17vh;
}
#socialnavHomeResponsive {
	display: none;
}
@media (max-width: 767px) {
	#socialnavHomeResponsive {
		display: inline-block;
		position: fixed;
		right: 3.5vw;
		top: 50.5vh;
	}

	#socialnavHomeResponsive #sociallinks {
		display: inline-grid;
	}
}
@media (max-width: 560px) {
	#socialnavHomeResponsive {
		display: flex;
		position: static;
		padding: 1rem 0 1rem 0;
		text-align: center;
		font-size: 0.95rem;
	}
	#socialnavHomeResponsive #sociallinks {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
}

#sociallinks {
	display: inline-grid;
	width: 90%;
	height: 90%;
	grid-gap: 2.5rem;
	justify-content: end;
	align-content: end;
}
@media (max-width: 767px) {
	#sociallinks {
		display: none;
	}
}

#sociallinks a {
	text-decoration: none;
	color: black;
	text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
	font-weight: 400;
	writing-mode: vertical-lr;
	transform: scale(-1, -1);
}
@media (max-width: 560px) {
	#sociallinks a {
		writing-mode: horizontal-tb;
		transform: scale(1, 1);
	}
}

/* Forms formatting - not seen by site visitors */

.form {
	display: flex;
	justify-content: space-between;
	width: 50vw;
	padding: 0.7rem;
}

.gridForm {
	display: inline-block;
	margin: 0rem 2rem 1rem 2rem;
}

/* SHOW page grid */

.container {
	display: inline-grid;
	grid-template-columns: [sidebar] 7vw [content] repeat(12, 7vw);
	grid-template-rows: repeat(24, auto);
	margin: 0;
	padding: 0;
	z-index: 7;
}

@media (max-width: 767px) {
	.container {
		display: inline-flex;
		flex-direction: column-reverse;
		flex-basis: auto;
		height: auto;
		margin-left: 9%;
		margin-right: 4%;
	}
}
@media (max-width: 560px) {
	.container {
		margin-left: 3%;
		margin-right: 3%;
	}
}

.thumbnail {
	grid-column-end: span 3;
	grid-row-end: span 3;
	text-align: start;
	/* box-sizing: border-box; */
	margin-bottom: 2.6rem;
}
@media (max-width: 767px) {
	.thumbnail {
		grid-column-end: span 1;
		grid-row-end: span 1;
		text-align: center;
	}
}
/* LINK PROPERTIES */
.thumbnail a {
	color: inherit;
	text-decoration: inherit;
}

.thumbnail img {
	width: 90%;
	object-fit: cover;
	opacity: 1;
	transition: opacity .1s ease-in-out;
}

.thumbnail .img-landscape {
	width: 127%;
}

@media (max-width: 767px) {
	.thumbnail img {
		height: auto;
		width: 100%;
	}
}

.thumbnail h4,
.thumbnail h6,
.thumbnail p {
	margin: 0;
	padding: 0;
}
@media (max-width: 767px) {
	.thumbnail h4,
	.thumbnail h6,
	.thumbnail p {
		text-align: start;
	}
}
/* Thumbnail title and underline */
.thumbnail h4 {
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
	padding-bottom: 0.2rem;
}
.thumbnail h4 span {
	position: relative;
	padding-bottom: 1px;
	background-image: linear-gradient(
		to bottom,
		black 33%,
		rgba(0, 0, 0, 0) 33%,
		rgba(0, 0, 0, 0) 66%,
		black 66%,
		black
	);
	background-position: 0 1.03em;
	background-repeat: repeat-x;
	background-size: 6px 8px;
	-webkit-background-size: 6px 8px;
}

.thumbnail:hover h4 span {
	color: #e66558;
	transition: color .1s;
	background-image: linear-gradient(
		to bottom,
		#e66558 33%,
		rgba(255, 255, 255, 0) 33%,
		rgba(255, 255, 255, 0) 66%,
		#e66558 66%,
		#e66558
	);
	background-size: 6px 8px;
}
/*  REPLACED BY background-image METHOD ABOVE - covers multi-line titles
    cant transition background images yet but can fade in/out different
    color images on :hover via opacity
.thumbnail h4 span::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 1px;
    background-color: black;
    white-space: normal;
} */
.thumbnail:active a h4 {
	color: #e66558;
}
.thumbnail:active span {
	background-image: linear-gradient(
		to bottom,
		#e66558 33%,
		rgba(255, 255, 255, 0) 33%,
		rgba(255, 255, 255, 0) 66%,
		#e66558 66%,
		#e66558
	);
}

.thumbnail h6 {
	color: black;
	font-weight: 400;
	font-size: 0.9rem;
}

/* SHOW PROJECT PAGE */
.projectpage {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.projectpage article {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 60vw;
	margin-left: 2rem;
}
@media (max-width: 767px) {
	.projectpage article {
		width: 85vw;
		margin-left: 2.3rem;
	}
}
@media (max-width: 560px) {
	.projectpage article {
		margin-left: 0rem;
	}
}

.projectpage article img {
	width: 100%;
	margin-bottom: 1.6rem;
	align-self: center;
}
@media (max-width: 767px) {
	.projectpage article img {
		width: 85vw;
	}
}

.projectpage #projectTitleSpace {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.projectpage h1 {
	display: none;
	text-transform: uppercase;
	font-size: 2.7rem;
	margin: 1.3rem 0 1.3rem 0;
}

.projectpage .descText {
	display: none;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.45rem;
	margin: 0;
	overflow-wrap: break-word;
}

.projectpage .activeTab {
	display: block;
}

.changeLang {
	padding: 1rem 0rem 1rem 0rem;
	margin: 0.3rem 0rem 0.3rem 0;
	font-weight: 900;
	font-family: inherit;
	font-size: 1.1rem;
}

button {
	border: none;
	text-decoration: none;
	background: white;
	color: #e66558;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button:focus {
	outline: none;
}

/* Concept Page */

.conceptpage {
	display: inline-flex;
	flex-direction: column;
	z-index: 7;
	width: 65vw;
	margin-top: 10vh;
	margin-left: 15vw;
	margin-bottom: 4rem;
	font-size: 1.25rem;
}
@media (max-width: 767px) {
	.conceptpage {
		width: 65vw;
		margin-left: 15vw;
	}
}
@media (max-width: 560px) {
	.conceptpage {
		width: 80vw;
		margin-left: 5vw;
	}
}

.conceptpage h1 {
	text-transform: uppercase;
	font-size: 2.7rem;
	margin: 1.3rem 0.5rem 1.8rem 0rem;
}

.conceptpage article {
	display: flex;
	flex-direction: column;
}

.conceptpage p {
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.45rem;
	margin: 0;
	overflow-wrap: break-word;
}

/* ABOUT PAGE */
.aboutpage {
	display: inline-flex;
	flex-direction: column;
	z-index: 7;
	max-width: 75vw;
	margin-left: 15vw;
	margin-top: 10vh;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.45rem;
	overflow-wrap: break-word;
}
@media (max-width: 767px) {
	.aboutpage {
		width: 65vw;
		margin-left: 15vw;
	}
}
@media (max-width: 560px) {
	.aboutpage {
		width: 80vw;
		margin-left: 5vw;
		font-size: 1.1rem;
	}
}
.aboutpage h1 {
	text-transform: uppercase;
	font-size: 2.7rem;
	margin: 1.3rem 1.5rem 2.8rem 1rem;
}

.aboutpage section {
	width: 90%;
	margin: 0 1rem 3.4rem 1rem;
}

.aboutpage p {
	margin: 0 0 0 0;
}

#email {
	margin: 1.5rem 0;
}

.aboutpage .highlight {
	color: #e66558;
}
.aboutpage .bold {
	font-weight: 900;
}
/* Must place .underline above span to underline */
.aboutpage .underline span {
	position: relative;
	padding-bottom: 1px;
	background-image: linear-gradient(
		to bottom,
		black 33%,
		rgba(255, 255, 255, 0) 33%,
		rgba(255, 255, 255, 0) 66%,
		black 66%,
		black
	);
	background-position: 0 1.03em;
	background-repeat: repeat-x;
	background-size: 6px 8px;
}

.aboutpage .colored-underline span {
	position: relative;
	padding-bottom: 1px;
	background-image: linear-gradient(
		to bottom,
		#e66558 33%,
		rgba(255, 255, 255, 0) 33%,
		rgba(255, 255, 255, 0) 66%,
		#e66558 66%,
		#e66558
	);
	background-position: 0 1.03em;
	background-repeat: repeat-x;
	background-size: 6px 8px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 2rem;
}

.col {
	display: flex;
	flex-direction: column;
	/* flex-basis: 100%;
	flex: 1; */
	padding-right: 2rem;
	width: 15vw;
}

.col-2 {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 2;
}

.col-details {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	padding-right: 2rem;
}

@media (max-width: 767px) {
	.spacing-col {
		display: none;
	}
}

.example-links {
	color: #e66558;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8rem;
	text-align: start;
	padding-bottom: 0.5rem;
}
.black-link a:visited {
	color: black;
}

#veryBottom {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100vw;
	padding: 5rem;
	z-index: -2;
}

/* ANIMATIONS */
.fadeAnimation {
	opacity: 1;
	animation: fadeInLoad 900ms ease-in-out;
}

@keyframes fadeInLoad {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.moveFromTop1 {
	opacity: 0;
	animation: moveFromTop 170ms ease-in-out 10ms forwards;
	-webkit-animation: moveFromTop 170ms ease-in-out 10ms forwards;
}
.moveFromTop2 {
	opacity: 0;
	animation: moveFromTop 170ms ease-in-out 75ms forwards;
	-webkit-animation: moveFromTop 170ms ease-in-out 75ms forwards;
}
.moveFromTop3 {
	opacity: 0;
	animation: moveFromTop 170ms ease-in-out 140ms forwards;
	-webkit-animation: moveFromTop 170ms ease-in-out 140ms forwards;
}

@keyframes moveFromTop {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.moveFromLeft1 {
	opacity: 0;
	animation: moveFromLeft 170ms ease-in-out 300ms forwards;
	-webkit-animation: moveFromLeft 170ms ease-in-out 300ms forwards;
}
.moveFromLeft2 {
	opacity: 0;
	animation: moveFromLeft 170ms ease-in-out 350ms forwards;
	-webkit-animation: moveFromLeft 170ms ease-in-out 350ms forwards;
}

@keyframes moveFromLeft {
	from {
		opacity: 0;
		transform: translateX(-50px) scale(-1, -1);
	}
	to {
		opacity: 1;
		transform: translateX(0px) scale(-1, -1);
	}
}

.moveFromRight1 {
	opacity: 0;
	animation: moveFromRight 170ms ease-in-out 400ms forwards;
	-webkit-animation: moveFromRight 170ms ease-in-out 400ms forwards;
}
.moveFromRight2 {
	opacity: 0;
	animation: moveFromRight 170ms ease-in-out 450ms forwards;
	-webkit-animation: moveFromRight 170ms ease-in-out 450ms forwards;
}
@media (max-width: 560px) {
	#sociallinks {
		transform: scale(-1, -1);
	}
}

@keyframes moveFromRight {
	from {
		opacity: 0;
		transform: translateX(50px) scale(-1, -1);
	}
	to {
		opacity: 1;
		transform: translateX(0px) scale(-1, -1);
	}
}

.moveFromBottom {
	opacity: 0;
	animation: moveFromBottom 170ms ease-in-out 500ms forwards;
	-webkit-animation: moveFromBottom 170ms ease-in-out 500ms forwards;
}

@keyframes moveFromBottom {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.pulse {
	animation: pulse 3000ms ease-in-out 200ms alternate 1;
	-webkit-animation: pulse 3000ms ease-in-out 200ms alternate 1;
}

@keyframes pulse {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(0.95, 0.95);
	}
	100% {
		transform: scale(1, 1);
	}
}

.fadeOut {
	animation: fadeOut 150ms ease-out forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeIn {
	animation: fadeInLoad 150ms ease-in forwards;
}
